* {
    margin: 0 auto;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

p {
    margin: 0;
}

.btn {
    padding: 10px 30px;
    background: #49cbcd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease-out;
}

.btn:hover {
    background: #fff;
    color: #888;
    border: 1px solid #49cbcd;
    transition: 0.3s ease-out;
}

.head h2 {
    text-align: center;
    margin-bottom: 30px;
}

/*CSS Start*/

/*Header Start*/
#home {
    width: 100%;
    padding-top: 30px;
    transition: 0.3s ease-out;
}

/*Menu Start*/
.logo {}

#main-menu {
    text-align: right;
}

.menu {
    align-items: center;
}

.menu ul {}

.menu ul li {
    display: inline-block;

}

.menu ul li a {
    padding: 30px 20px;
    color: #49cbcd;
    text-decoration: none;
    transition: 0.3s ease-out;

}

.menu ul li a:hover {
    background: rgba(149, 149, 149, 0.1);
    border-bottom: 1px solid #49cbcd;
    transition: 0.3s ease-out;
}

.menu ul li a.active {
    background: rgba(149, 149, 149, 0.1);
    border-bottom: 1px solid #49cbcd;
}

/*Menu End*/



/*Header Start*/


/*Slider Start*/
#slider {
    padding-top: 15px;
    transition: 0.3s ease-out;
}

.slider-main {}

.slider-main img {
    width: 100%;
    height: 80vh;
}

/*Slider End*/

/*Services Part Start*/
#services {
    padding: 50px 0px;
    transition: 0.3s ease-out;
}

.services-main {
    text-align: center;
}

.services-iteam {
    transition: 0.3s ease-out;
    padding: 30px 20px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 15%);
}

.services-iteam:hover {
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
    transition: 0.3s ease-out;
    margin-top: -25px;
}

.icon img {
    width: 100px;
    height: 100px;
}

.services-content {
    margin-top: 25px;
}

.services-content h2 {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

.services-content p {
    margin-top: 20px;
    ;
    margin-bottom: 30px;
}

a.ser-btn {
    padding: 10px 30px;
    background: #49cbcd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease-out;

}

.services-iteam:hover a.ser-btn {
    background: #fff;
    color: #888;
    border: 1px solid #49cbcd;
    transition: 0.3s ease-out;

}

/*Services Part End*/


/*Portfolio Part Start*/
#portfolio {
    padding: 50px 0px;
    transition: 0.3s ease-out;
}


.portfolio-iteam {
    margin-bottom: 25px;
    position: relative;
}

.portfolio-iteam .img img {
    width: 100%;
}

.portfolio-iteam {
    transition: 0.3s ease-out;
}

.portfolio-iteam:hover .overly {
    opacity: 1;
    transition: 0.3s ease-out;
}

.overly {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(243, 133, 129, 0.7), rgba(251, 226, 138, 0.7));
    width: 100%;
    height: 100%;
    opacity: 0;
}

.over-iteam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.over-iteam h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.over-iteam p {
    margin-bottom: 20px;
}

/*Portfolio Part End*/



/*Services Part Start*/
#team {
    padding: 50px 0px;
    transition: 0.3s ease-out;
}

.team-main {
    text-align: center;
}

.team-iteam {
    transition: 0.3s ease-out;
    padding: 30px 20px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 15%);
}

.team-iteam:hover .over {
    opacity: 1;
    transition: 0.3s ease-out;
}

.icon {
    position: relative;
}

.over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.over img {
    width: 50px;
    height: 50px;
}

.imgp img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.team-content {
    margin-top: 25px;
}

.team-content h2 {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

.team-content h3 {
    color: #999;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.team-content p {
    margin-top: 20px;
    ;
    margin-bottom: 30px;
}

a.ser-btn {
    padding: 10px 30px;
    background: #49cbcd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease-out;

}

.team-iteam:hover a.ser-btn {
    background: #fff;
    color: #888;
    border: 1px solid #49cbcd;
    transition: 0.3s ease-out;

}

/*Team Part End*/

/*Pricing Part Start*/
#price {
    padding: 80px 0px;
    background: #f1f1f1;
}

.price-iteam {
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
    background: #fff;
}

.price-iteam .prhead {}

.price-iteam .prhead h2 {
    background: #485460;
    padding: 10px 0px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin: 0;
}

.price-iteam .content {
    text-align: center;
    padding-bottom: 35px;

}

.price-iteam .content ul {}

.price-iteam .content ul li {
    border-bottom: 1px solid #ecf0f1;
    padding: 15px 0px;
}

.price-iteam .content ul li:first-child {
    background: #f8f9fb;
}


a.prbtn {
    background: #485460;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease-out;
}



.price-iteam:hover .prhead h2 {
    background: #49cbcd;
    transition: 0.3s ease-out;
}

.price-iteam:hover a.prbtn {
    background: #49cbcd;
    transition: 0.3s ease-out;
}


/*Pricing Part End*/


/*Footer Part Start*/
#footer {
    padding: 50px 0px;
    background: url(../images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.foot-left {}

.fot-form {
    display: flex;
    flex-wrap: wrap;

}

.fot-fm-left {
    width: 47%;
}

.fot-fm-right {
    width: 47%;
}

.foot-txt {
    width: 96%;
    margin: 0 auto;
    height: 150px;
}
.btns{
    float: right;
    padding: 30px 0 0 0;
    margin-right: 9px;
}
/*Footer Part End*/
